
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --color-one: #F15023;
    --color-two: #F79729;
    --color-three: #F9A760;
    --color-dark: #212121;

}

*{
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    color: var(--color-dark);
    scroll-behavior: smooth;
    }

    html {
        overflow-x: hidden;
    }

header {
    position: fixed;
    z-index: 2;
    top: 0;
    display: flex;
    background-color: white;
    justify-content: center;
    width: 100%;
    padding: 0.5em;
    border-bottom: 1px solid rgb(202, 202, 202);
    >div {
        width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}


#logo {
    >img {
        height: 3em;
    }
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1em;
}


li a {
        color: var(--color-dark);
        text-decoration: none;
        padding: 1em;
        font-weight: 600;
        font-size: 1em;
    }
    li a:hover {
        color: var(--color-one);

    }

main {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
}

#insta_bottom {
    text-decoration: none;
    display: flex;
    align-self: flex-end;
    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em 1em;
        border-bottom-left-radius: 1em;
        border-top-left-radius: 1em;
        background-color: var(--color-one);
    }

    >div i, >div h3 {
        font-size: 1em;
        transition: 1s;
            color: white;
        
    }


}






section {
    display: flex;
    justify-content: center;
    align-items: center;

}

#main_section{
    display: flex;
    width: 1000px;
}

#main_left{
    margin-right: 2em;
    gap: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    >h2 {
        color: var(--color-two);
        font-weight: 500;
        font-size: 1.5em;
    }

    /* >a{
        color: white;
        font-size: 1.5em;
        font-weight: 500;
        background-color: var(--color-one);
        padding: 0.7em;
        text-align: center;
        width: 12em;
        border-radius: 0.5em;
        border: 0.1em solid var(--color-one);
        transition: all 0.5s;
        
    }

    >a:hover {
        background-color: white;
        color: var(--color-one);
        cursor: pointer;
    } */
}

h1 {
    font-size: 5em;
    color: var(--color-one);
}

#mainimg {
    width: 700px;
    margin-bottom: -0.5em;
}

#menu_bars {
    display: none;
}

#button_mobile {
    display: none;
}


.sections {
    display: flex;
    flex-direction: column;
    z-index: 1;
    >div {
        width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    >div h2 {
        padding: 1.5em 0 1em 0;
        font-size: 3em;
    }

}

#quem_somos{
    
    >div>button>h2 {
        padding: 0;

    }
}

#sanf {
    border: #a7a7a7 solid 1px;
    transition: 0.5s;
    cursor: pointer;
} 

#sanf:hover {
    background-color: #e4e4e4;
}

.ativo {
    background-color: #e4e4e4;

}

.sanfona {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    width: 100%;

    >i {
        margin: 0 0 0 0.5em;
        font-size: 2em;
        rotate: 180deg;
    }

}

.rotated-image {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

#qs_div {
    display: none;
    gap: 3em;
    padding: 10em 0;
    max-height: 0;
    overflow: hidden;
    transition: 1s ease-out;
    
    
    >div {
        display: flex;
        flex-direction: column;
        gap: 2em;
        justify-content: center;
        align-items: center;
        
    }

    >div h3 {
        font-size: 4em;
        color: var(--color-one);
    }
    >div h4 {
        margin-top: -1.5em;
        font-size: 1.5em;
        color: var(--color-two);
    }
    >div p {
        font-size: 1.5em;
        text-align: center;
    }
}


#valores {
    display: flex;
    flex-direction: row;
    margin: 4em 0;
    >div {
        width: 700px;
    }
    >div>img {
        height: 800px;
        opacity: 1;
    }
}



#valores_div {
    margin-left: 10em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    align-items: center;
    padding: 5em 0;


    
    >div {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
        
    }

    >div h3 {
        align-self: start;
        font-size: 2em;
        color: var(--color-one);
    }
    
    >div p {
        font-size: 1.2em;
        text-align: start;
        padding-right: 3em;

    }

}

#provasocial {
    padding: 2em 0 6em 0;
    >div {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}

.pv_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    >h2 {
        display: flex;
        padding: 0;
        font-size: 3em;
        color: var(--color-one);
        align-items: center;
        font-weight: 600;
    }
    >h2 b {
        font-size: 2em;
        color: var(--color-one);
        font-weight: 600;
        padding-top: 0.1em ;
    }

}



.icon-prova{
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-one);
    border-radius: 50%;
    padding: 1em;
    box-shadow: 4px 2px 4px 0px rgba(0, 0, 0, 0.2);
    >i {
        color: white;
        font-size: 2em;
    }

}


#nossos_servicos {
    background-color: var(--color-one);
    padding: 5em 0 10em 0;
    flex-wrap: wrap;


    >div h2 {
        color: white;
    }

}


#ns_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;


    >div h3 {
        font-size: 2em;
        color: white;
        background-color: var(--color-two);
        padding: 0.5em;
        
    }
    >div p {
        padding-top: 0.5em ;
        font-size: 1.2em;
        color: white;

    }
}

.card_serv {
    width: 400px;
}

#parceiros {
    display: grid;
    height: 200px;
    width: 100%;
    overflow: hidden;
    margin: 0em 0 6em 0;
}

.slider_track {
    display: flex;
    gap: 4em;
    width: 200%;
    animation: scroll 20s linear infinite ;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-50.5%));
    }
    
}

.img_parc {
    width: 20%;
    display: flex;
    align-items: center;

    >img {
        width: 100%;
    } 
    
}

#local {
    display: flex;
    flex-direction: column;
    >div {
        background-color:white;
        border: rgb(201, 201, 201) 2px solid;
        width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 3em;
        padding:6em;
        border-radius: 5em;
        box-shadow: 0px 3px 4px 5px rgba(0, 0, 0, 0.1);
    }
    >div h2 {
        background-color: var(--color-one);
        color: white;
        padding: 0.2em 0.4em;
    }
}

#loc_div {
    display: flex;
    gap: 4em;

    >img {
        width: 30em;
    }
    >div {
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: end;

    
    }
    >div h3 {
        color: var(--color-one);
        font-size: 2em;
    }  
    >div p {
        font-size: 1.2em;
    }   
}

#contatos {
    padding: 10em;
    >div {
        gap: 5em;
    }
    >div>h2 {
        background-color: var(--color-one);
        color: white;
        padding: 0.2em 0.4em;
    }
}

#c_div {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    background-color: var(--color-one);
    padding: 0.7em;
    border-radius: 0.5em;
    border: 0.1em solid var(--color-one);
    transition: all 0.5s;
    text-decoration: none;
    >i {
        color: white;
        transition: all 0.5s;
    }
}

.button:hover {
    background-color: white;
    color: var(--color-one);
    cursor: pointer;
    >i {
        color:var(--color-one);
    }
}


footer {
    background-color: #212121;
    height: 500px;
}


@media (max-width: 600px) {

    header {
        background-color: white;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0.5em;
        border-bottom: 1px solid rgb(202, 202, 202);
        >div {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    #logo {
        >img {
            height: 2em;
    
        }
    }
    
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 1em;
    }
    
    
    li a {
            color: var(--color-dark);
            text-decoration: none;
            padding: 1em;
            font-weight: 600;
            font-size: 1.2em;
        }
        li a:hover {
            color: var(--color-one);
    
        }


        #mainimg {
            width: 350px;
            margin-right: -1em;
        }
    
        #nav_bar {
            display: none;
        }
        #insta_bottom {
            display: none;
        }
    
        #menu_bars {
            display: flex;
            justify-content: end;
            font-size: 3em;
        }

        #button_mobile {
            display: flex;
        }

    
    section {
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    #main_section{
        display: flex;
        width: 350px;
        flex-direction: column-reverse ;
        align-items: center;
        justify-content: center;
    }
    
    #main_left{
        gap: 1em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 1em 0 2em 0;
        margin: 0;
        >h2 {
            color: var(--color-two);
            font-weight: 500;
            font-size: 1em;
            text-align: center;
        }
    
        >a{
            color: white;
            font-size: 1em;
            font-weight: 500;
            background-color: var(--color-one);
            padding: 0.7em;
            text-align: center;
            width: 12em;
            border-radius: 0.5em;
            border: 0.1em solid var(--color-one);
            transition: all 0.5s;
            
        }
    
        >a:hover {
            background-color: white;
            color: var(--color-one);
            cursor: pointer;
        }
    }
    
    h1 {
        font-size: 50px;
        color: var(--color-one);
        text-align: center;

    }
    
    
    
    
    
    .sections {
        display: flex;
        flex-direction: column;
        z-index: 1;
        >div {
            width: 350px;
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
        }
    
        >div h2 {
            padding: 1.5em 0 1em 0;
            font-size: 2em;
        }
    
    }
    
    #quem_somos{
        background-color: #ffffff;
        
        >div>button>h2 {
            padding: 0;
    
        }
    }

    #sanf {
        border: #a7a7a7 solid 1px;
        transition: 0.5s;
        cursor: pointer;
    } 
    
    #sanf:hover {
        background-color: #cccccc;
    }
    
    .ativo {
        background-color: #cccccc;
    
    }
    
    .sanfona {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        width: 100%;

    
        >i {
            margin: 0 0 0 0.5em;
            font-size: 2em;
        }
    
    }
    
    
    #qs_div {
        display: none;
        gap: 2em;
        padding: 7em 2em;
        max-height: 0em;
    
        >div {
            display: flex;
            flex-direction: column;
            gap: 1em;
            justify-content: center;
            align-items: center;
            
        }
    
        >div h3 {
            font-size: 2em;
            color: var(--color-one);
        }
        >div h4 {
            margin-top: -0.5em;
            font-size: 1em;
            color: var(--color-two);
        }
        >div p {
            font-size: 0.8em;
            text-align: center;
        }
 
    
    }

    #valores {
        display: flex;
        flex-direction: column;
        margin: 0;
        >div {
            width: 350px;
        }

        >div>img {
            display: none;
            
        }
    }


    
    #valores_div {
        margin-left: 0em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        justify-content: center;
        align-items: center;
        padding: 2em 0;
        
    
    
        
        >div {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            justify-content: center;
            align-items: center;
            
        }
    
        >div h3 {
            align-self: center;
            font-size: 2em;
            color: var(--color-one);
        }
        
        >div p {
            font-size: 1em;
            text-align: center;
            padding: 0 3em;
            
    
        }
    
    }

    #provasocial {
        padding: 2em 0 6em 0;
        >div {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    }
    
    .pv_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        >h2 {
            font-size: 2em;
            padding: 0 2.5em;
            text-align: center;
        }
        >h2 b {
            font-size: 2em;
        }
    
    }
    
    
    
    .icon-prova{
        width: 3em;
        >i {
            color: white;
            font-size: 2em;
        }
    
    }
    
    
    #nossos_servicos {
        background-color: var(--color-one);
        padding: 5em 0;
  
    }
    
    
    #ns_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2em;
    
    
        >div h3 {
            font-size: 1.5em;
            padding: 0.5em;
            text-align: center;
            
        }
        >div p {
            font-size: 1.2em;
            color: white;
            padding: 0.5 0.5em;
            text-align: center;
    
        }
    }
    
    .card_serv {
        width: 300px;
    }
    
    #parceiros {
        display: grid;
        height: 200px;
        width: 100%;
        overflow: hidden;
        margin: 2em 0 5em 0;
    }
    
    .slider_track {
        display: flex;
        gap: 1em;
        width: 100%;
        animation: scroll 20s linear infinite ;
    }
    
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-50.3%));
        }
        
    }
    
    .img_parc {width: 200px;
        display: flex;
        align-items: center;
    
        >img {
            width: 100%;
        } 
        
    }
    #local {
        display: flex;
        flex-direction: column;
        >div {
            background-color:white;
            border: rgb(201, 201, 201) 2px solid;
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 2em;
            padding:2em 5em;
            border-radius: 2em;
            box-shadow: 0px 3px 4px 5px rgba(0, 0, 0, 0.1);
        }
        >div h2 {
            background-color: var(--color-one);
            color: white;
            padding: 0.2em 0.4em;
        }
    }
    
    #loc_div {
        display: flex;
        gap: 2em;
        padding-bottom: 3em;
        flex-direction: column;
    
        >iframe {
            width: 300px;
            height: 200px;

        }

        >div {
            display: flex;
            flex-direction: column;
            gap: 1em;
            justify-content: end;
    
        
        }
        >div h3 {
            color: var(--color-one);
            font-size: 2em;
        }  
        >div p {
            font-size: 1em;
        }   
    }
    
    #contatos {
        padding: 10em;
        >div {
            gap: 5em;
        }
        >div>h2 {
            background-color: var(--color-one);
            color: white;
            padding: 0.2em 0.4em;
        }
    }
    
    #c_div {
        display: flex;
        flex-direction: column;
        gap: 2em;
        align-items: center;
    }
    
    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        color: white;
        font-size: 1em;
        font-weight: 500;
        background-color: var(--color-one);
        padding: 0.7em;
        border-radius: 0.5em;
        border: 0.1em solid var(--color-one);
        transition: all 0.5s;
        text-decoration: none;
        >i {
            color: white;
            transition: all 0.5s;
        }
    }
    
    .button:hover {
        background-color: white;
        color: var(--color-one);
        cursor: pointer;
        >i {
            color:var(--color-one);
        }
    }
    
    
    footer {
        background-color: #212121;
        height: 500px;
    }
    


}